---
$path
---

<script src="/vendor/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/vendor/jquery.fileupload.js"></script>
<script src="/vendor/jquery-ui-1.11.0.min.js" type="text/javascript"></script>
<script src="/vendor/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="/vendor/jquery.ui.rotatable.min.js" type="text/javascript"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script src="/vendor/jquery.ddslick.min.js" type="text/javascript"></script>
<script src="/vendor/global.js" type="text/javascript"></script>
<script src="{{$path}}script/all.js" type="text/javascript"></script>
